{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
			<div class='fh5co-narrow-content'>
				<h2 class='fh5co-heading ' ><span>See more Travels</span></h2>

				<div class='row '>
                    {% for travel in travels %}
					<div class='col-md-4 col-sm-6 col-xs-6 col-xxs-12'>
                        <div id='carousel{{ travel.id }}-example-generic' class='carousel slide' data-ride='carousel'>
                            <div class='carousel-inner' role='listbox'>
                    {% for image in images %}
                        {% if image.trip_id == travel.id %}
                            {% if forloop.counter0 %}

                                <div class='item active'>
                            {% else %}
                                <div class='item'>
                            {% endif %}
                             <a href='/{{travel.id}}/'>
                                    <img src='{{image.image.url}}' alt='Travel Trip' class='img-responsive'>
                             </a>
                                </div>
                        {% endif %}
                    {% endfor %}
                            </div>

                       <a class='left carousel-control' href='#carousel{{ travel.id }}-example-generic' role='button' data-slide='prev'>
                        <span class='icon-prev' aria-hidden='true'></span>
                        <span class='sr-only'>Previous</span>
                      </a>
                      <a class='right carousel-control' href='#carousel{{ travel.id }}-example-generic' role='button' data-slide='next'>
                        <span class='icon-next' aria-hidden='true'></span>
                        <span class='sr-only'>Next</span>
                      </a>

                        </div>
                                <div>
                                <h3 class='fh5co-work-title'>Travel stops: {{travel.stops}}</h3>
                                    <button id='likes' data-id='{{ travel.id }}' type='button' class='btn btn-success'>
                                    {% if travel.likes > 0 %}
                                        {{ travel.likes }}
                                    {% else %}
                                       {{ 'like' }}
                                    {% endif %}
                                    </button>
                                <a href='/user/{{ travel.user.username }}'>
                                by: {{  travel.user.username }}
                                </a>
                                </div>
					    </div>
                        <div class='clearfix visible-md-block'></div>
                       {% endfor %}
	            </div>
			</div>



	<div class='fh5co-narrow-content'>
    <div class='row'>
					<div class='col-md-4 ' data-animate-effect='fadeInLeft'>
    	<h1 class='fh5co-heading-colored'>Create new Future Travel</h1>
    <form enctype='multipart/form-data' action='add_trip/' method='post'>
{% csrf_token %}
{{ form.as_p }}
           {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}
<input type='submit' value='Submit' />
</form>
					</div>
				</div>
			</div>



{% endblock %}

