{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<h1>Liza App</h1>
{% for travel in travels %}
    <a href="/{{travel.id}}/">
<h1>{{travel.stops}}</h1>
       </a>
    <a href='/user/{{ travel.user.username }}'>
    by: {{  travel.user.username }}
    </a>
    <img src='{{travel.image.url}}' />
    <button id='likes' data-id='{{ travel.id }}' type='button'>
    {% if travel.likes > 0 %}
        {{ travel.likes }}
    {% else %}
       {{ 'like' }}
    {% endif %}
    </button>
{% endfor %}



    <form enctype='multipart/form-data' action='add_trip/' method='post'>
{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Submit' />
</form>



{% endblock %}

